/* Dropdown Button */
.drop-btn {
  background-color: #3498db;
  color: white;
  padding: 10px;
  font-size: 10px;
  margin: 1rem;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.drop-btn:hover,
.drop-btn:focus {
  background-color: #2980b9;
}

/* Add box button */
.add-btn {
  background-color: #3498db;
  color: white;
  padding: 10px;
  font-size: 10px;
  margin: 1rem;
  cursor: pointer;
}

/* Box Styles */
.boxes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-gap: 1rem;
}

.box {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 100px;
  height: 100px;
}

.cancel-btn {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  height: 10px;
  width: 10px;
}
